<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>PFSD SKILL</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>



<div style="background-color:#5CDB95;padding:20px;font-size:15pt">
<a style="color:white;margin-left:60px;text-decoration:none" href="{% url 'adminhome' %}">Home</a>&nbsp;&nbsp;&nbsp;
<a style="color:white;margin-left:60px;text-decoration:none" href="{% url 'adminchangepw' %}">Change Password</a>&nbsp;&nbsp;&nbsp;
<a style="color:white;margin-left:60px;text-decoration:none" href="{% url 'adminstudent' %}">Student</a>&nbsp;&nbsp;&nbsp;
<a style="color:white;margin-left:60px;text-decoration:none" href="{% url 'adminfaculty' %}">Faculty</a>&nbsp;&nbsp;
<a style="color:white;margin-left:60px;text-decoration:none" href="{% url 'admincourse' %}">Courses</a>&nbsp;&nbsp;
<a style="color:white;margin-left:60px;text-decoration:none" href="{% url 'fcoursemapping' %}">Faculty Course Mapping</a>&nbsp;&nbsp;
<a style="color:white;margin-left:60px;text-decoration:none" href="{% url 'logout' %}">LogOut</a>&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
</div>

    <h3 align="center" style="colout:red"><i>Welcome {{adminuname}}</i></h3>


<br><br>

{% block 'body' %}



{%  endblock  %}
</body>
</html>